<connectionStrings>
  <clear />
  <add name="ApplicationConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-S903IFV\SQLEXPRESS;Initial Catalog=ApplicationDb;Integrated Security=False;User Id=sa;Password=abc@123;MultipleActiveResultSets=True" />
</connectionStrings>